* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.8);
    backdrop-filter: blur(10px);
}
header nav{
    padding: 5px;
}
header nav li a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

header nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    font-size: 13px;

}


.heseg1{
    height: 600px;
    background-image: url("https://www.apple.com/v/home/bw/images/heroes/holiday-2024-still-time/hero_holiday_2024_still_time__fof6z4yuswyi_medium_2x.jpg");
    background-position: center ;
    background-size: cover;
}
   
.heseg1 section{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1txt1{
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
}
.h1txt2{
    font-size: 50px;
    font-weight: bold;
}
.h1txt3{
    font-size: 25px;
    margin-top: 10px;
}
.h1button1{
    margin-top: 15px;
}

.h1button1{
    background-color: rgb(56, 92, 237);
    color: white;
    padding: 10px 15px;
  border-radius: 25px;
  font-size: 15px;
  border-color: rgb(56, 92, 237);
}

.heseg2{
    margin-top: 10px;
    height: 600px;
    background-image: url("https://www.apple.com/v/home/bw/images/heroes/holiday-film-hearing-health/hero_holiday_film_hearing_health__evi7j5bsws2u_small.jpg");
    background-position: center ;
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}
   
.heseg2text{
    padding-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.h2txt2{
    margin-top: 10px;
    font-size: 25px;
}
.h2txt3{
    font-size: 25px;
    margin-top: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.h2button2{
    color: rgb(56, 92, 237);
    padding: 10px 15px;
  border-radius: 25px;
  font-size: 15px;
  background-color: transparent;
  border-color: rgb(56, 92, 237);
}

.h2button1{
    background-color: rgb(56, 92, 237);
    color: white;
    padding: 10px 15px;
  border-radius: 25px;
  font-size: 15px;
  border-color: rgb(56, 92, 237);
}

.heseg3{
    margin-top: 10px;
    height: 600px;
    background-image: url("https://www.apple.com/v/home/bw/images/heroes/iphone-16-pro/hero_iphone16pro_avail__fnf0f9x70jiy_medium_2x.jpg");
    background-position: center ;
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
}
   
.heseg3text{
    padding-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.main2{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.grid{
    flex-basis: 49%;
    margin: 5px;
}

.heseg4{
    background-image: url("https://www.apple.com/v/home/bw/images/promos/iphone-16/promo_iphone16_avail__cl72dn7xdfv6_small_2x.jpg");
    height: 560px;
    background-position: center ;
    background-size: cover;
}

.heseg4text{
    padding-top: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.m2txt1{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}

.m2txt2{
    font-size: 15px;
    margin-top: 10px;
}

.h4button2{
    color: white;
    padding: 8px 13px;
  border-radius: 25px;
  font-size: 13px;
  background-color: transparent;
  border-color: white;
}

.h4button1{
    background-color: white;
    color: black;
    padding: 8px 13px;
  border-radius: 25px;
  font-size: 13px;
  border-color: white;
}

.heseg5{
    background-image: url("https://www.apple.com/v/home/bw/images/promos/ipad-air/promo_ipadair_ai__3fv1eitzqv6y_small_2x.jpg");
    height: 560px;
    background-position: center ;
    background-size: cover;
}

.m2text{
    padding-top: 35px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.h5button2{
    color: rgb(56, 92, 237);
    padding: 8px 13px;
  border-radius: 25px;
  font-size: 13px;
  background-color: transparent;
  border-color: rgb(56, 92, 237);
}

.h5button1{
    background-color: rgb(56, 92, 237);
    color: white;
    padding: 8px 13px;
  border-radius: 25px;
  font-size: 13px;
  border-color: rgb(56, 92, 237);
}

.heseg6{
    background-image: url("https://www.apple.com/v/home/bw/images/promos/apple-watch-series-10/promo_apple_watch_series_10_avail_lte__c70y29goir42_large_2x.jpg");
    height: 560px;
    background-position: center ;
    background-size: cover;}

.heseg7{
    background-image: url("https://www.apple.com/v/home/bw/images/promos/macbook-air-m3/promo_macbook_air_m3__e43jegok3wuq_small_2x.jpg");
    height: 560px;
    background-position: center ;
    background-size: cover;
}

.heseg8{
    background-image: url("https://www.apple.com/v/home/bw/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_small_2x.jpg");
    height: 560px;
    background-position: center ;
    background-size: cover;
}

.h8button{
    background-color: rgb(56, 92, 237);
    color: white;
    padding: 8px 13px;
  border-radius: 25px;
  font-size: 13px;
  border-color: rgb(56, 92, 237);
  margin-top: 10px;
}
.heseg9{
    background-image: url("https://www.apple.com/v/home/bw/images/promos/apple-card/promo_apple_card__5cm7draujpey_small_2x.jpg");
    height: 560px;
    background-position: center ;
    background-size: cover;
}


footer{
    background-color: rgb(245, 245, 245);
    color: rgb(112, 112, 112);
    font-size: 13px;
    padding: 15px 130px;
}

.line{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background-color: rgb(147, 147, 147);
}

.footermenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
.footermenu ul{
    list-style: none;
}

.footergarchig{
    color: black;
}



/* ghj */


  .slider_container {
    position: relative;
    width: 60%;
    height: 40rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  .slider {
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 30s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
  }
  .slide {
    position: relative;
    min-width: 100%;
    height: 100%;
  }
  .slide img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .slide .caption {
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: 5rem;
    color: white;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.348);
    backdrop-filter: blur(10px);
    padding: 1rem 5rem;
    border-radius: 0 2rem 2rem 0;
  }
  @keyframes sliding {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  }
  